body {
    font: 400 15px/1.8 Lato, sans-serif;
    background-color: #353537;
    background-size: 100%;
  }
  
  h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
  }
  
  
  .bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
  }
  
  .bg-1 h3 {color: #fff;}
  
  .bg-1 p {font-style: italic;}
  
  .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .thumbnail {
  
    width: 200px;
    height: 415px;
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  
  .thumbnail p {
    margin-top: 15px;
    color: #555;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
  }
  
  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
  }
  
  .modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
  }
  
  .modal-header, .modal-body {
    padding: 40px 50px;
  }
  
  .nav-tabs li a {
    color: #777;
  }
  
  .row-text-center{
    text-align: center;
  
  }
  
  #googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }  
  
  .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  
  .open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
  }
  
  .dropdown-menu li a {
    color: #000 !important;
  }
  
  .dropdown-menu li a:hover {
    background-color: red !important;
  }
  
  
  
  footer a {
    color: #f5f5f5;
  }
  
  footer a:hover {
    color: #777;
    text-decoration: none;
  }  
  
  .form-control {
    border-radius: 0;
  }
  
  textarea {
    resize: none;
  }
  
  .col-sm-4{
    padding-left: 85px;
    padding-bottom: 75px;
  }
  
  .navbar-nav li a:hover {
    color: #777777 !important;
  }
  
  .dropdown-menu{
    background-color: #424245;
  }
  
  .dropdown-item{
    font-size: 11px;
    margin-left: 10px;
  }
  
  .navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-radius: 8px;
  }
  
  #imagen{
    position: fixed;
    width: 1366px;
  }
  
  #fondo{
        color: #777;
  }

  #caratulaDetalle{
    width: 250px;
    height: 380px;
  }
  
  /* CSS PAGINA NO LOGIN */
  
  #bodyError{
    background-image: url("../imagenes/fondo.jpg");
    background-size: cover;
    font: 400 15px/1.8 Lato, sans-serif;
  }
  
  .container{
    height: 10%;
    width: 70%;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 10px;
    margin: 5% auto;
    padding: 5%;
    
  }
  
  #mainError p{
    color: white;
    font-size: 20px;
  }
  
  #enlaceAquiError{
    color: pink;
  }
  
  #enlaceAquiError:hover{
    color: fuchsia;
  }
  
  /* PAGINA 404 */
  
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
  @import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
  
  .error-container {
    text-align: center;
    font-size: 106px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    margin: 70px 15px;
  }
  
  .error-container > span {
    display: inline-block;
    position: relative;
  }
  
  .error-container > span.four {
    width: 136px;
    height: 43px;
    border-radius: 999px;
    background:
        linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%),
        linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%),
        linear-gradient(to right, #99749D, #540056);
  }
  
  .error-container > span.four:before,
  .error-container > span.four:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 999px;
  }
  
  .error-container > span.four:before {
    width: 43px;
    height: 156px;
    left: 60px;
    bottom: -43px;
    background:
        linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%),
        linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%),
        linear-gradient(to top, #99749D, #540056, #7c0060, #780057, #58003f);
  }
  
  .error-container > span.four:after {
    width: 137px;
    height: 43px;
    transform: rotate(-49.5deg);
    left: -18px;
    bottom: 36px;
    background: linear-gradient(to right, #99749D, #540056, #7c0060, #780057, #58003f);
  }
  
  .error-container > span.zero {
    vertical-align: text-top;
    width: 156px;
    height: 156px;
    border-radius: 999px;
    background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%,  transparent 51%, transparent 100%),
        linear-gradient(to top right, #99749D, #540056, #7c0060, #780057, #58003f);
    overflow: hidden;
    animation: bgshadow 5s infinite;
  }
  
  .error-container > span.zero:before {
    content: '';
    display: block;
    position: absolute;
    transform: rotate(45deg);
    width: 90px;
    height: 90px;
    background-color: transparent;
    left: 0px;
    bottom: 0px;
    background:
        linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%),
        linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%);
  }
  
  .error-container > span.zero:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 999px;
    width: 70px;
    height: 70px;
    left: 43px;
    bottom: 43px;
    background: #e7e7e7;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  }
  
  .screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
    
  @keyframes bgshadow {
    0% {
        box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
    }
    45% {
        box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    }
    55% {
        box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
    }
  }
  
  /* demo stuff */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  #body404 {
    background-color: #e7e7e7;
    margin-bottom: 50px;
  }
  
  html, button, input, select, textarea {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #353537;
  }
  
  h1 {
    /* text-align: center; */
    margin: 30px 15px;
  }
  
  .zoom-area { 
    max-width: 490px;
    margin: 30px auto 30px;
    font-size: 19px;
    text-align: center;
  }
  
  .link-container {
    text-align: center;
  }
  
  a.more-link {
    text-transform: uppercase;
    font-size: 13px;
    background-color: #de7e85;
    padding: 10px 15px;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 50px;
    letter-spacing: 1px;
  }
  
  #h1404{
    text-align: center;
  }
  
  
  /* PAGINA LOGIN */
  
  #bodyLogin{
    background-image: url("../imagenes/fondo.jpg");
    background-size: cover;
    
  }
  
  #iniciaSesion{
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  #boton{
    padding: 2% 0;
  }
  
  #contenedorLogin{
    height: 10%;
    width: 70%;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 10px;
    margin: 5% auto;
    padding: 5%;
  }
  
  
  /* PAGINA REGISTRO */
  
  #bodyRegistro{
    background-image: url("../imagenes/fondo.jpg");
    background-size: cover;
  }
  #registrate{
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  /* PAGINA FAVORITOS */
  
  #bodyFavoritos{
    background-color: #2d2d30;
  }
  
  .containerFav{
    padding-top: 6%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  
  }
  
  @media (min-width: 1200px){
    .containerFav {
        width: 1170px;
    }
  }
  
  #paginacion{
    font-size: 20px;
  }
  
  /* FUNCION VALORACION ESTRELLA */
  
  
  .valoracion button {
    background-color: initial;
    border: 0;
    color: #5f5050;
    transition: 1s all;
  
  }
  .valoracion button:hover {
    cursor: pointer;
    color:  #ffa400;
    transform: rotate(360deg);
  }
  button:nth-child(1):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
  }
  button:nth-child(2):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
  }
  button:nth-child(3):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
  }
  button:nth-child(4):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
  }
  button:nth-child(5):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
  }
  
  /* PAGINA JUEGOS */
  
  
  
  body {
    font: 400 15px/1.8 Lato, sans-serif;
    /* background-color: #4c4a4a; */
    background-color: #2d2d30;
  
  }
  
  h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
  }
  
  
  .bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
     
  }
  
  .bg-1 h3 {color: #fff;}
  
  .bg-1 p {font-style: italic;}
  
  .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .thumbnail {
  
    width: 200px;
    height: 415px;
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    margin: 0 auto;
    
  }
  
  .thumbnail p {
    margin-top: 15px;
    color: #555;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
  }
  
  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
  }
  
  .modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
  }
  
  .modal-header, .modal-body {
    padding: 40px 50px;
  }
  
  .nav-tabs li a {
    color: #777;
  }
  
  .row-text-center{
    text-align: center;
  
  }
  
  
  .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #4c4a4a;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  
  .open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
  }
  
  .dropdown-menu li a {
    color: #000 !important;
  }
  
  
  footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
  }
  
  footer a {
    color: #f5f5f5;
  }
  
  footer a:hover {
    color: #777;
    text-decoration: none;
  }  
  
  .form-control {
    border-radius: 0;
  }
  
  textarea {
    resize: none;
  }
  
  .col-sm-4{
    padding-left: 20px;
    padding-bottom: 75px;
  }
  
  .navbar-nav li a:hover {
    color: #777777 !important;
  }
  
  .dropdown-menu{
    background-color: #4c4a4a;
  }
  
  .dropdown-item{
    font-size: 11px;
    margin-left: 10px;
  }
  
  .navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-radius: 8px;
  }
  
  .containerJuegos{
    padding-top: 0%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
  }
  
  #paginacion{
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 75px;
  }
  
  #textoJuegos{
    padding-top: 6%;
    
  }
  
  #paginacionFotter{
    font-size: 25px;
  }
  
  #caratula{
    height: 300px;
    width: 200px;
  }
  
  /* VIDEO */
  
  iframe.ytb-embed {
    max-width: 96% !important;
    display: block;
    margin: 10px auto;
  } 
  
  
  
  /* PAPELERA */
  
  
  .papelera button {
    background-color: initial;
    border: 0;
    color:  #5f5050;
    transition: 1s all;
    
  }
  .papelera button:hover {
    cursor: pointer;
    color: red;
    transform: rotate(360deg);
  }
  button:nth-child(1):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
  }
  button:nth-child(2):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
  }
  button:nth-child(3):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
  }
  button:nth-child(4):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
  }
  button:nth-child(5):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
  }
  
  /* SECCION DETALLES USUARIOS */
  
  #bodyUsuarios{
    color: white;
  }
  
  #tablaUsuarios{
    width: 80%;
    margin: 0 auto;
    border-collapse: inherit;
    border-spacing: 10px;
  
  
  }
  
  /* SECCION MODIFICAR JUEGO  */
  
  #bodyModificarJuego{
    background-image: url("../imagenes/fondo.jpg");
  
  }
  
  /* SECCION VER MAS (DETALLE) */
  
  #tarjeta{
    margin: 5% auto;
    padding: 5%;
    color: white;
  }
  
  /* PERFIL */
  
  #imagen{
    position: fixed;
    width: 1366px;
  }
  
  #bodyPerfil{
    background-image: url("../imagenes/fondo.jpg");
    background-size: cover;
    
  
  }
  
  .containerPerfil{
    height: 10%;
    width: 50% !important;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 10px;
    margin: 5% auto;
    padding: 5%;
    
  }
  
  .well{
    width:50%;
  }
  
  /* PAGINA MODIFICAR PERFIL */
  
  #bodyModificarPerfil{
    background-image: url("../imagenes/fondo.jpg");
    background-size: cover;
  }
  
  /* PAGINA AGREGAR JUEGO */
  #inputDesAddJuego{
    height: 150px;
  }
  
  /* FORMULARIOS */
  
  .form-control {
    border-radius: 5px;
  }
  
  .form-control:focus {
    border-color: #9C27B0;
  }
  
  svg{
    height: 60px;
    width: 100px;
  }
  circle{
    fill:rgba(204, 204, 204, 0.6);
    stroke-width:10;
    stroke:rgba(204, 204, 204, 1);
  }
  
  #mensajeUsuario{
    margin: 0 19px 10px;
  }
  
  .modal-body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  
  }
  
  #h1novedades{
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
  }
  
  #textonovedades{
    font-style: italic;
    font-size: 20px;
  }
  
  #video1{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  #h1nohayfav{
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: white;
  }